# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Desktop\github同步代码\Lab-projects\ade\yyq_server\bo_server\gby_rs\rs_bo_newEI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
